<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='mainpage.css') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    />
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <!--- Task 2, 9: Create the Navbar -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">Welcome to Educative.io!</a>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
